@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:wght@300;400;600;700&display=swap');

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #020B1B;
  --bg-github: #111827;
  --bg-gmail: #B91C1C;
  --bg-facebook: #0369A1;
  --bg-white: #fff;
  --color-highlight: rgb(255, 168, 6);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bg-color);
  color: white;
 
}
a {
  text-decoration: none;
}
